/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'syne-700';
    src: url('assets/fonts/syne/static/Syne-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: Spacegrotesk;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgba(186, 186, 186, 0.5);
    --scrollbar-thumb-hover-color: rgb(0, 128, 255);
    --scrollbar-border-radius: 4px;
}