/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'syne';
    src: url('assets/fonts/syne/static/Syne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Spacegrotesk';
    src: url('assets/fonts/Space_Grotesk/static/SpaceGrotesk-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: Spacegrotesk;
}