<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="flex h-screen w-screen items-center overflow-hidden px-2">
      <div class="relative flex w-96 flex-col space-y-5 rounded-lg border bg-white px-5 py-10 shadow-xl sm:mx-auto">
        <div class="-z-10 absolute top-4 left-1/2 h-full w-5/6 -translate-x-1/2 rounded-lg bg-blue-600 sm:-right-10 sm:top-auto sm:left-auto sm:w-full sm:translate-x-0"></div>
        <div class="mx-auto mb-2 space-y-3">
          <h1 class="text-center text-3xl font-bold text-gray-700">LogIn to EcomStore</h1>
        </div>

        <div>
          <div class="relative mt-2 w-full">
            <input type="email" formControlName="email" required
              [ngClass]="{
                'border-green-600': loginForm.controls['email'].valid && loginForm.controls['email'].touched,
                'border-red-600': loginForm.controls['email'].invalid && loginForm.controls['email'].touched
              }"
              class="border-1 peer block w-full appearance-none rounded-lg border bg-transparent px-2.5 pt-4 pb-2.5 text-sm text-gray-900 focus:outline-none focus:ring-0" placeholder=" " />
            <label for="email" class="origin-[0] peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600 absolute left-1 top-2 z-10 -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300"> Enter Your Email </label>
            @if (loginForm.controls['email'].invalid && loginForm.controls['email'].touched) {
              <div class="text-red-500 text-sm">
                @if (loginForm.controls['email'].errors?.['required']) {
                  Email is required.
                }
                @if (loginForm.controls['email'].errors?.['email']) {
                  Please enter a valid email.
                }
              </div>
            }
          </div>
        </div>

        <div>
          <div class="relative mt-2 w-full">
            <input type="password" formControlName="password" required
              [ngClass]="{
                'border-green-600': loginForm.controls['password'].valid && loginForm.controls['password'].touched,
                'border-red-600': loginForm.controls['password'].invalid && loginForm.controls['password'].touched
              }"
              class="border-1 peer block w-full appearance-none rounded-lg border bg-transparent px-2.5 pt-4 pb-2.5 text-sm text-gray-900 focus:outline-none focus:ring-0" placeholder=" " />
            <label for="password" class="origin-[0] peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:px-2 peer-focus:text-blue-600 absolute left-1 top-2 z-10 -translate-y-4 scale-75 transform cursor-text select-none bg-white px-2 text-sm text-gray-500 duration-300"> Enter Your Password</label>
            @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
              <div class="text-red-500 text-sm">
                @if (loginForm.controls['password'].errors?.['required']) {
                  Password is required.
                }
                @if (loginForm.controls['password'].errors?.['minlength']) {
                  Password must be at least 6 characters.
                }
              </div>
            }
          </div>
        </div>

        @if (error) {
          <div class="text-red-500 text-sm">{{ error }}</div>
        }
        <div class="flex w-full items-center">
          <button type="submit" 
            class="shrink-0 inline-block w-36 rounded-lg bg-blue-600 py-3 font-bold text-white">
            {{ isLoading ? 'Logging in...' : 'Login' }}
          </button>
          <a class="w-full text-center text-sm font-medium text-gray-600 hover:underline cursor-pointer">Forgot your password?</a>
        </div>
        <p class="text-center text-gray-600">
          Don't have an account?
          <a routerLink="/signup" class="whitespace-nowrap font-semibold text-gray-900 hover:underline">Sign up</a>
        </p>
      </div>
    </div>
  </form>
</div>
